
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f4f6ff;
    color: #fff;
}

a{
    color: white;
    font-size: 30px;
}
h2 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 40px;
    letter-spacing: 2px;
}
.cv {
    background: #43c8ff;
    width: fit-content;
    padding: 10px 25px;
    margin: 20px auto 0;
    border-radius: 7px;
    cursor: pointer;
    transition: .5s;
}

.cv p {
    color: #fff;
    font-weight: 600;
}
.cv:hover{
    background-color: transparent;
    border: 1px solid #43c8ff;
    transform: scale(1.05 );
}
/* HEADER */
header {
    width: 80%;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

header h1 {
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

nav a:hover{
    color: #1b263b;
}

/* ABOUT SECTION */

main {
    padding-top: 140px;
    text-align: center;
    background: linear-gradient(to bottom, #5d80ff, #0f1c33);
    padding-bottom: 80px;
    border-bottom: 4px solid rgba(255,255,255,0.2);
}

.profile-img img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 6px solid #fff;
}

.name {
    font-size: 26px;
    font-weight: 700;
    margin-top: 10px;
}


.sm-links {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;

}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    perspective: 1200px;
}

.link-card {
    width: 90px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 15px rgba(0,0,0,0.25);
    animation: spinFloat 10s infinite ;
    transform-style: preserve-3d;
}

.link-card:hover {
    animation-play-state: paused;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
}


.link-card:nth-child(1) {
    animation-delay: 0s;
}

.link-card:nth-child(2) {
    animation-delay: 0.7s;
}

.link-card:nth-child(3) {
    animation-delay: 1.4s;
}

@keyframes spinFloat {
    0% {
        transform: rotateY(0deg) rotateX(0deg) translateY(0px);
    }
    25% {
        transform: rotateY(20deg) rotateX(5deg) translateY(-12px);
    }
    50% {
        transform: rotateY(40deg) rotateX(0deg) translateY(0px);
    }
    75% {
        transform: rotateY(20deg) rotateX(-5deg) translateY(12px);
    }
    100% {
        transform: rotateY(0deg) rotateX(0deg) translateY(0px);
    }
}

.about-content {
    max-width: 600px;
    background: linear-gradient(to bottom, #2f3f66, #1b263b);
    padding: 25px;
    border-radius: 20px;
    margin: 40px auto 0;
    color: #fff;
    font-size: 15px;
    line-height: 1.6;
}





/* PROJECTS*/

#projects {
    background: #0f1c33;
    padding: 70px 20px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.project-item {
    background: #fff;
    width: 330px;
    border-radius: 15px;
    padding-bottom: 20px;
    color: #000;
    text-align: center;
    overflow: hidden;
}

.project-item img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

/* SKILLS */

.skills {
    background: linear-gradient(to bottom, #5d80ff, #b8d2ff);
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
}

.skills-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.skill-card {
    width: 250px;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    color: #0c1b3a;
}

.skill-card img {
    width: 60px;
    margin-bottom: 15px;
}

/* CONTACT */
.contact {
    background: #b4c9ff;
    padding: 70px 20px;
    color: #0c1b3a;
    border-radius: 30px;
    margin: 40px auto;
    width: 90%;
    max-width: 900px;
    position: relative;
    
}
.contact-title{
    text-align: center;
}
.contact-title h2{
    margin-top: 0px;
}
.contact-content{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    gap: 40px;
}
.contact-content p{
    color: #ffffff;
}
.contact-content::after{
    content: "";
    height: 30%;
    width: 2px;
    background: #ffffff;
    position: absolute;
    left: 40%;
}
.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    width: 90%;
    max-width: 350px;
}

.contact input,.contact textarea {
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.contact button {
    padding: 12px;
    background: #5a7aff;
    color: #fff;
    border: none;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: #0f1c33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 30px 0;
    color: #fff;
}

footer a {
    margin: 0 12px;
    font-size: 26px;
    color: #fff;
}

/* MEDIA */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding: 15px;
    }

    nav ul {
        gap: 20px;
    }

    .sm-links {
        width: 200px;
        height: 200px;
    }
    .link-card {
        width: 55px;
        height: 55px;
    }
    @keyframes circle {
        0% { transform: rotate(0deg) translateX(100px) rotate(0deg); }
        100% { transform: rotate(360deg) translateX(100px) rotate(-360deg); }
    }
}
