
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}
:root{
    --first-color-bg:#5d80ff;
    --sacond-color-bg:#0f1c33;
    --end-color-bg:#b8d2ff;
    --light-color-bg:#b7e2ff;
}
body {
    background: #f4f6ff;
    color: #fff;
}


h2 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 40px;
    letter-spacing: 2px;
}
.button {
    background: #43c8ff;
    color: #fff;
    font-weight: 600;
    width: fit-content;
    padding: 10px 25px;
    margin: 20px auto 0;
    border-radius: 7px;
    cursor: pointer;
    transition: .5s;
    border: none;

}

.button:hover{
    border: 1px solid #43c8ff;
    transform: scale(1.05 );
}
a{
    color: #000;
}
/* HEADER */
header {
    width: 80%;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

header h1 {
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav .nav-link{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: .5s;
}

nav a:hover{
    color: var(--first-color-bg);
}

/* ABOUT SECTION */

main {
    padding-top: 80px;
    text-align: center;
    background: linear-gradient(to bottom,var(--first-color-bg), var(--sacond-color-bg));
    padding-bottom: 30px;
}
.about-content {
    max-width: 600px;
    background: linear-gradient(to bottom, #455e9b, #1b263b);
    padding: 25px;
    border-radius: 20px;
    margin: 10px auto ;
    color: #fff;
    font-size: 15px;
    line-height: 1.6;
}

.profile-img img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 6px solid #fff;
}

.img{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    
    
}

.hello{
    width: 150px;
    padding: 18px;
    border-radius: 20px;
    background-color: #fff;
    color: var(--sacond-color-bg);
    margin: 0 auto;
    position: relative;
    right: 200px;
    visibility: hidden;
    opacity: 0;
    animation: fade .5s ease-in-out;
    transition: .5s;
}
.hello::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 25px;
    background-color: #fff;
    bottom: -15px;
    left: 50%;
    border-radius: 0 0 10px 100px;
    
}
.img:hover .hello {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
@keyframes fade{
    0%{
        transform: translateY(-20px) ; 
        opacity: 0;
    }
    100%{
        transform: translateY(0px) ;
        opacity: 1;
    }
}
.name {
    font-size: 26px;
    font-weight: 700;
    margin-top: 10px;
}


.sm-links {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;

}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    perspective: 1200px;
}

.link-card {
    width: 90px;
    height: 90px;
    background-color: var(--light-color-bg);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 15px rgba(0,0,0,0.25);
    animation: spinFloat 10s infinite ;
    transform-style: preserve-3d;
}
.link-card a{
    color: white;
    font-size: 30px;
}
.link-card:hover {
    animation-play-state: paused;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
}


.link-card:nth-child(1) {
    animation-delay: 0s;
}

.link-card:nth-child(2) {
    animation-delay: 0.7s;
}

.link-card:nth-child(3) {
    animation-delay: 1.4s;
}

@keyframes spinFloat {
    0% {
        transform: rotateY(0deg) rotateX(0deg) translateY(0px);
    }
    25% {
        transform: rotateY(20deg) rotateX(5deg) translateY(-12px);
    }
    50% {
        transform: rotateY(40deg) rotateX(0deg) translateY(0px);
    }
    75% {
        transform: rotateY(20deg) rotateX(-5deg) translateY(12px);
    }
    100% {
        transform: rotateY(0deg) rotateX(0deg) translateY(0px);
    }
}







/* PROJECTS*/

#projects {
    background: #0f1c33;
    padding: 70px 20px;

}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.project-item {
    background: #fff;
    width: 330px;
    height: 250px;
    border-radius: 15px;
    padding-bottom: 20px;
    color: #000;
    text-align: center;
    overflow: hidden;
}
.project-item:hover{
    box-shadow: 0 0px 10px 5px rgba(248, 248, 255, 0.321);
}
.project-item img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.img-overlay{
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
.img-overlay img{
     width: 100%;
    transition: transform 0.4s;
}
.img-overlay .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.455); 
    transition: opacity 0.4s ease;
    pointer-events: none;
}
.project-item:hover .overlay {
    opacity: 0; 
}

.project-item:hover img {
    transform: scale(1.05); 
}
/* SKILLS */

.skills {
    background: linear-gradient(to bottom,var(--sacond-color-bg), var(--first-color-bg), var(--end-color-bg));
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
}

.skills-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.skill-card {
    width: 250px;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    color: #0c1b3a;
    transition: .5s;
}

.skill-card:hover{
    transform: scale(1.05) translateY(-10px);
    box-shadow: 0 0px 10px 5px rgba(248, 248, 255, 0.321);
}
.skill-card:first-child:hover{
    transform: rotate(-5deg) scale(1.05);
    box-shadow: 0 0px 10px 5px rgba(248, 248, 255, 0.321);
}
.skill-card:last-child:hover{
    transform: rotate(5deg) scale(1.05);
    box-shadow: 0 0px 10px 5px rgba(248, 248, 255, 0.321);
}
.skill-card img {
    width: 60px;
    margin-bottom: 15px;
}

/* CONTACT */
.contact {
    background: var(--end-color-bg);
    padding: 70px 20px;
    color: var(--sacond-color-bg);
    border-radius: 30px;
    margin: 40px auto;
    width: 90%;
    max-width: 900px;
    position: relative;
    
}
.contact-title{
    text-align: center;
}
.contact-title h2{
    margin-top: 0px;
}
.contact-content{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    gap: 40px;
}
.contact-content p{
    color: #ffffff;
}
.contact-content::after{
    content: "";
    height: 30%;
    width: 2px;
    background: #ffffff;
    position: absolute;
    left: 40%;
}
.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    width: 90%;
    max-width: 350px;
}

.contact input,.contact textarea {
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
}



/* FOOTER */
footer {
    background: #0f1c33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 30px 0;
    color: #fff;
}

footer a {
    margin: 0 12px;
    font-size: 26px;
    color: #fff;
}

/* MEDIA */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        /* padding: 15px; */
    }

    nav ul {
        gap: 20px;
    }

    .sm-links {
        width: 200px;
        height: 200px;
        margin: 30px auto;
    }
    .link-card {
        width: 55px;
        height: 55px;
    }
    @keyframes circle {
        0% { transform: rotate(0deg) translateX(100px) rotate(0deg); }
        100% { transform: rotate(360deg) translateX(100px) rotate(-360deg); }
    }

    .contact-content{
        flex-direction: column;
        text-align: center;
        padding-left: 0px;
    }
    .contact-content::after{
    width: 0px;
}
}

@media (max-width: 450px){
    header{
        width: 90%;
    }
    nav ul {
        display: none;
    }
   .about-content p span{
    display: none;
   }
   .project-list{
    flex-direction: column;
    align-items: center;
   }
   .hello{
    right: 0px;
    left: 0px;
    margin: 20px auto;
   }
   .about-content{
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: -130px;
    
   }
}
